# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# Solace Messaging
SOLACE_HOST=wss://mr-connection-
SOLACE_VPN=
SOLACE_USERNAME=
SOLACE_PASSWORD=

# Solace SEMP (provisioning)
SOLACE_SEMP_HOST=
SOLACE_SEMP_USERNAME=
SOLACE_SEMP_PASSWORD=

# E2E
E2E_STRIPE_ACCOUNT_ID=